<div class="container">
    <p id="notice"><%= notice %></p>

    <h1>Blogs</h1>

    <table class="blog-table">
      <thead class="blog-head">
        <tr class="blog-table-row">
          <th class="functional">Title</th>
          <th class="functional">Blog Text</th>
          <th class="functional">Image</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @blogs.each do |blog| %>
          <tr class="blog-table-row">
            <td><%= blog.title %></td>
            <td><%= blog.blurb %></td>
            <td> <%= image_tag(blog.images.first, class: "thumbnail") %>
            </td>
            <td><%= link_to 'View Blog', blog, class: "btn-crud" %></td>
            <td><%= link_to 'Edit Blog', edit_blog_path(blog), class: "btn-crud" %></td>
            <td><%= link_to 'Delete Blog', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-crud" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Blog', new_blog_path, class: "btn btn-primary" %>
</div>
