<div class="container">
    <p id="notice"><%= notice %></p>

    <h1>Photo Uploads</h1>

    <table>
      <thead>
        <tr>
          <th class="img-title">Image</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @photo_uploads.each do |photo_upload| %>
          <tr>
              <div id="image-content">
                <td><%= image_tag(photo_upload.images.first, class: "thumbnail") %></td>
                <td><%= link_to 'View Images', photo_upload, class: "btn-crud btn-crud-photo" %></td>
                <td><%= link_to 'Edit images', edit_photo_upload_path(photo_upload), class: "btn-crud btn-crud-photo" %></td>
                <td><%= link_to 'Delete Images', photo_upload, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-crud btn-crud-photo" %></td>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Photo Upload', new_photo_upload_path, class: "btn btn-primary" %>
</div>
