<div class="container">
    <p id="notice"><%= notice %></p>

    <div id="show-image-content">
        <div class="card portfolio-card">
          <h1 class="port-title"><%= @photo_upload.portfolio_title %></h1>
          <div class="row photo-upload-row">
              <div class="col-lg-12 col-md-12col-sm-12 col-xs-12 blog-col">
                  <div class="photo-upload-content">
                          <% imgCounter = 0 %>
                          <% @photo_upload.images.each_with_index do |image, index| %>
                                <% imgCounter += 1 %>
                          <% end %>
                          <% imgCount = imgCounter%>

                          <% imgCounter = 1 %>
                        <% @photo_upload.images.each_with_index do |image, index| %>
                              <%= image_tag(image.url, :onclick => "openModal();currentSlide(#{imgCounter})", class: "box-hover-shadow cursor") %>
                             <% if current_admin  %>
                              <%= link_to "Delete", photo_upload_image_path(@photo_upload, index), method: :delete, data: {confirm: "Are you sure you want to delete this image?"} %>
                              <% end %>
                              <% imgCounter += 1 %>
                        <% end %>

                        <% imgCounter = 1 %>
                        <div id="myModal" class="modal">
                          <span class="box-close cursor", onclick="closeModal()">&times;</span>
                          <div class="modal-content1">
                          <% @photo_upload.images.each_with_index do |image, index| %>
                          <div class="box-mySlides">
                              <div class="box-numbertext"><%= imgCounter %>/<%= imgCount %></div>
                                <div class="inner-box"><%= image_tag(image.url, class: "portfolio-show-img") %></div>
                            </div>
                                <% imgCounter += 1 %>
                          <% end %>
                          <a class="box-prev" onclick="plusSlides(-1)">&#10094;</a>
                          <a class="box-next" onclick="plusSlides(1)">&#10095;</a>
                      </div>
                    </div>
                </div>
              </div>
            </div>


    <% if current_admin %>
        <h1>Add more images</h1>
            <%= form_for @photo_upload, url: photo_upload_images_path(@photo_upload), method: :post do |f| %>

            <div class="field">
                <%=f.file_field :images, multiple: true %>
            </div>
            <div class="action">
                <%= f.submit "Add More Images" %>
            </div>

            <%= link_to 'Edit', edit_photo_upload_path(@photo_upload), class: "functional" %> |
            <%= link_to 'Admin Portfolio Creation', photo_uploads_path, class: "functional" %>
            <% end %>
    <% end %>
            <%= link_to 'Back to Portfolio Homepage', pages_portfolio_path, class: "btn btn-primary back-button" %>
        </div>
    </div>
</div>
