<nav>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <span class="nav-name">A. Nepper Photography</span>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <span class="nav navbar-nav">
                    <span class="home-navlinks"><%= link_to "Home", root_path   %></span>
                    <span class="home-navlinks"><%= link_to "About Me", pages_about_path %></span>
                    <span class="home-navlinks"><%= link_to "Client Testimonials", pages_client_testimonials_path   %></span>
                    <span class="home-navlinks"><%= link_to "Portfolio", pages_portfolio_path %></span>
                    <span class="home-navlinks"><%= link_to "Client Viewing", pages_client_viewing_path %></span>
                    <span class="home-navlinks"><%= link_to "Pricing", pages_pricing_path %></span>
                    <span class="home-navlinks"><%= link_to "Contact", pages_contact_me_path %></span>
                    <span class="home-navlinks"><%= link_to "Blog", pages_blog_path %></span>
                </span>
            </div>
        </div>
    </div>
</nav>
