<div class="container">

    <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
        <li data-target="#carousel" data-slide-to="5"></li>
        <li data-target="#carousel" data-slide-to="6"></li>
        <li data-target="#carousel" data-slide-to="7"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("Clem", :alt => "girl with pigtails", :class => "carousel-img") %>
        </div>
        <div class="item">
          <%= image_tag("hat-boy", :alt => "boy in hat", :class => "carousel-img") %>
        </div>
        <div class="item">
          <%= image_tag("winter-smile", :alt => "winter couple", :class => "carousel-img") %>
        </div>
        <div class="item">
          <%= image_tag("doges", :alt => "cute dog", :class => "carousel-img") %>
        </div>
        <div class="item">
          <%= image_tag("son", :alt => "mother and son", :class => "carousel-img") %>
        </div>
        <div class="item">
          <%= image_tag("wed-couple", :alt => "couple", :class => "carousel-img") %>
        </div>
        <div class="item">
          <%= image_tag("Family-line", :alt => "Family in a line", :class => "carousel-img") %>
        </div>
        <div class="item">
          <%= image_tag("wine", :alt => "couple with wine", :class => "carousel-img") %>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div>
        <h2>Welcome to A. Nepper Photography</h2>
    </div>

</div>
